# vim: set ft=toml:

{{- $vendor_id := "" }}
{{- if eq .chezmoi.os "linux" }}
{{-   $vendor_id = (output "sh" "-c" "cat /proc/cpuinfo | grep vendor_id | head -n 1 | cut -d ' ' -f 2") | trim }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $vendor_id = (output "powershell.exe" "-NoProfile" "-NonInteractive"
                          "-Command" "(Get-CimInstance -ClassName Win32_Processor).Manufacturer") | trim }}
{{- end }}

[data.git]
  name = "poponta"
  email = {{ (bitwardenFields "item" "174e19bf-01a7-4da1-a464-af85004558d2").mail.value | quote }}
  signingkey = {{ (bitwarden "item" "d0f1bdd0-7123-404d-9225-b2b00013c92d").sshKey.publicKey | quote }}

[data.cpu]
  vendor_id = {{ $vendor_id | quote }}

[hooks.read-source-state.pre]
  command = ".local/share/chezmoi/.install-password-manager.sh"
