{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env zsh
# vim: set ft=sh:

"${HOME}/.local/bin/mise" self-update --yes
"${HOME}/.local/bin/mise" install --yes
"${HOME}/.local/bin/mise" upgrade --yes
source "${HOME}/.config/zsh/.zshrc"
{{- end }}
