{{- if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
# vim: set ft=sh:

"${HOME}/.local/bin/mise" self-update --yes
"${HOME}/.local/bin/mise" install --yes
"${HOME}/.local/bin/mise" upgrade --yes
{{- end }}
