{{- if contains ( or "linux" "darwin" ) .chezmoi.os -}}
#!/usr/bin/env bash
# vim: set ft=sh:

{{- if (and (contains "debian" (or .chezmoi.osRelease.id .chezmoi.osRelease.idLike)) (not (contains (or "tako" "ice") .chezmoi.hostname))) }}
# Install dependencies
echo "Installing fundamental packages..."
sudo apt update -y

sudo apt install -y \
  build-essential \
  git \
  gnupg \
  gpg-agent \
  wget \
  zsh

echo "Installing Python dependencies..."
sudo apt -y install \
  tk-dev \
  libbz2-dev \
  libdb-dev \
  libffi-dev \
  libgdbm-dev \
  liblzma-dev \
  libncurses-dev \
  libreadline-dev \
  libsqlite3-dev \
  libssl-dev \
  uuid-dev \
  zlib1g-dev

{{- else if (and (contains "fedora" (or .chezmoi.osRelease.id .chezmoi.osRelease.idLike)) (not (contains (or "tako" "ice") .chezmoi.hostname))) }}
# Install dependencies
echo "Installing fundamental packages..."
sudo dnf update -y

sudo dnf groupinstall -y "Development Tools"
sudo dnf install -y \
  git \
  gnupg2 \
  gpg-agent \
  wget \
  zsh

echo "Installing Python dependencies..."
sudo dnf install -y \
  bzip2-devel \
  gdbm-devel \
  git \
  libffi-devel \
  libuuid-devel \
  ncurses-devel \
  openssl-devel \
  openssl11 \
  openssl11-devel \
  patch \
  readline-devel \
  sqlite-devel \
  sqlite3-dbf \
  tk-devel \
  xz-devel \
  zlib-devel \
  zsh

{{- end }}
# Install Sheldon
if [[ ! -f "${HOME}/.local/bin/sheldon" ]]; then
  echo "Installing Sheldon..."
  curl --proto '=https' -fLsS https://rossmacarthur.github.io/install/crate.sh |
    bash -s -- --repo rossmacarthur/sheldon --to "${HOME}/.local/bin"
fi
{{- end }}
