# vim: set ft=toml:

[tools]
# Languages
"core:go" = "latest"
"core:java" = "temurin-21"
"core:node" = "22"
"core:bun" = "latest"
"core:rust" = "latest"
"aqua:astral-sh/uv" = "latest"
"ubi:VirtusLab/scala-cli" = "latest"

# Alternative commands
"ubi:sharkdp/bat" = "latest"
"ubi:theryangeary/choose" = "latest"
"ubi:dandavison/delta" = "latest"
"aqua:eza-community/eza" = "latest"
"aqua:sharkdp/fd" = "latest"
"aqua:BurntSushi/ripgrep" = "latest"
"ubi:XAMPPRocky/tokei" = "latest"
"ubi:ajeetdsouza/zoxide" = "latest"

# Development
# Git/GitHub
"aqua:x-motemen/ghq" = "latest"
"aqua:cli/cli" = "latest"
"aqua:jesseduffield/lazygit" = "latest"
"aqua:pre-commit/pre-commit" = "latest"
"npm:czg" = "latest"

# Others
{{- if ( or ( not ( contains "tako" .chezmoi.hostname ) ) ( eq .chezmoi.hostname "tako62" ) ) }}
"aqua:bitwarden/clients" = "latest"
{{- else if ( and ( contains "tako" .chezmoi.hostname ) ( le ( atoi ( substr 4 6 .chezmoi.hostname ) ) 61 ) ) }}
"aqua:bitwarden/clients" = "cli-v2023.1.0"
{{- end }}
"ubi:twpayne/chezmoi" = "latest"
{{- if not ( contains "tako" .chezmoi.hostname ) }}
"aqua:cloudflare/cloudflared" = "latest"
{{- end }}
"aqua:junegunn/fzf" = "latest"
"aqua:neovim/neovim" = "latest"
"aqua:tree-sitter/tree-sitter" = "latest"
"ubi:watchexec/watchexec" = "latest"
{{- if not ( contains "tako" .chezmoi.hostname ) }}
"ubi:zellij-org/zellij" = "latest"
{{- end }}

# Linters, Formatters, and LSPs
# AWK
"npm:awk-language-server" = "latest"
# Bash
"npm:bash-language-server" = "latest"
"aqua:koalaman/shellcheck" = "latest"
"aqua:mvdan/sh" = "latest"
# Fortran
"pipx:fortls" = "latest"
"pipx:fprettify" = "latest"
# Golang
"aqua:golangci/golangci-lint" = "latest"
# HTML, CSS, and JSON
"npm:vscode-langservers-extracted" = "latest"
# LaTeX
"ubi:latex-lsp/texlab" = "latest"
# Lua
"aqua:LuaLS/lua-language-server" = "latest"
"aqua:JohnnyMorganz/StyLua" = "latest"
# Markdown
"ubi:Feel-ix-343/markdown-oxide" = "latest"
"npm:markdownlint-cli2" = "latest"
"aqua:ekalinin/github-markdown-toc" = "latest"
# Python
"pipx:mypy" = "latest"
"pipx:ruff" = "latest"
"pipx:ruff-lsp" = "latest"
"npm:pyright" = "latest"
# Toml
"ubi:tamasfe/taplo" = { version = "latest", matching = "full" }
# Yaml
"npm:yaml-language-server" = "latest"
"aqua:google/yamlfmt" = "latest"
"pipx:yamllint" = "latest"

[settings]
experimental = true
idiomatic_version_file_enable_tools = []

[settings.npm]
bun = true

[settings.pipx]
uvx = true

[tasks.generate-templates]
description = "Generate templates for issue and PR in git repositories"
run = """
#!/usr/bin/env bash
if [[ ( -d ".git/github" ) && (! -d .github) ]]; then
    cp -r .git/github .github
    echo "Templates generated"
elif [[ -d .github ]]; then
    echo "Templates already exist"
elif [[ ! -d ".git" ]]; then
    echo "Not a git repository or not in the root of the repository"
fi
"""
