# vim: set ft=toml

[tools]
bat = "latest"
chezmoi = "latest"
choose = "latest"
delta = "latest"
eza = "latest"
fd = "latest"
fzf = "latest"
github-cli = "latest"
hyperfine = "latest"
lua-language-server = "latest"
markdownlint-cli2 = "latest"
neovim = "stable"
ripgrep = "latest"
shellcheck = "latest"
shfmt = "latest"
tokei = "latest"
tree-sitter = "latest"
watchexec = "latest"
zellij = "latest"
zoxide = "latest"
{{- if not ( contains "tako" .chezmoi.hostname ) }}
bitwarden = "latest"
bun = "latest"
go = "latest"
java = "openjdk-21.0.2"
julia = "latest"
mysql = "latest"
node = "latest"
ruby = "latest"
rust = "latest"
rye = "latest"
{{- end }}

[settings]
experimental = true
