# vim: set ft=toml

[tools]
bat = "latest"
chezmoi = "latest"
choose = "latest"
delta = "latest"
eza = "latest"
fd = "latest"
fzf = "latest"
hyperfine = "latest"
neovim = "stable"
poetry = "latest"
{{- if eq .chezmoi.hostname  "tako58" }}
python = "2.7.18"
{{- end }}
ripgrep = "latest"
tokei = "latest"
zoxide = "latest"
{{- if not ( contains "tako" .chezmoi.hostname ) }}
bitwarden = "latest"
go = "latest"
julia = "latest"
node = "latest"
python = "3.11.7"
ruby = "latest"
rust = "latest"
{{- end }}
