# vim: set ft=ini

[user]
  name = {{ .git.name | quote }}
  email = {{ .git.email | quote }}
{{- if not ( contains "tako" .chezmoi.hostname ) }}
  signingkey = {{ .git.signingkey | quote }}
{{- end }}

[core]
{{- if contains ( or "linux" "darwin" ) .chezmoi.os }}
  autocrlf = input
{{- else if contains "windows" .chezmoi.os }}
  autocrlf = true
{{- end }}
  safecrlf = true
  ignorecase = false
  quotepath = false

[url "git@github.com:"]
  pushInsteadOf = https://github.com/

[merge]
  ff = false

[push]
  default = simple

[pull]
  ff = only
{{- if not ( contains "tako" .chezmoi.hostname ) }}

[commit]
  gpgsign = true

[gpg]
  program = /usr/bin/gpg
{{- end }}
