# vim: set ft=toml:

# `sheldon` configuration file
# ----------------------------
#
# You can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

apply = ["defer"]

[plugins.zsh-defer]
github = "romkatv/zsh-defer"
apply = ["source"]

[templates]
defer = """
{{ "{{ hooks?.pre | nl }}{% for file in files %}zsh-defer source {{ file }}" }}
{{ "{% endfor %}{{ hooks?.post | nl }}" }}"""

[plugins]
# For example:
#
# [plugins.base16]
# github = "chriskempson/base16-shell"

[plugins.compinit]
inline = "autoload -Uz compinit && zsh-defer compinit"

[plugins.prezto-editor]
remote = "https://raw.githubusercontent.com/sorin-ionescu/prezto/master/modules/editor/init.zsh"
apply = ["source"]

[plugins.prezto-spectrum]
remote = "https://raw.githubusercontent.com/sorin-ionescu/prezto/master/modules/spectrum/init.zsh"

[plugins.ohmyzsh-plugin]
github = "ohmyzsh/ohmyzsh"
dir = "plugins"
use = ["{command-not-found,git}/*.plugin.zsh"]

[plugins.dot-expansion]
github = "wazum/zsh-directory-dot-expansion"

[plugins.cmd-time]
github = "popstas/zsh-command-time"

[plugins.zsh-completions]
github = "zsh-users/zsh-completions"
dir = "src"
apply = ["fpath"]

[plugins.faster-syntax-highlighting]
github = "z-shell/F-Sy-H"
use = ["F-Sy-H.plugin.zsh"]

[plugins.zsh-history-substring-search]
github = "zsh-users/zsh-history-substring-search"
use = [{{ "\"{{ name }}.zsh\"" }}]

[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"
use = [{{ "\"{{ name }}.zsh\"" }}]

[plugins.git-prompt]
github = "woefe/git-prompt.zsh"
use = [{{ "\"{{ name }}.zsh\"" }}]

[plugins.syncload]
local = "~/.config/zsh"
use = ["{keybind,path,sh-conf}.zsh"]
apply = ["source"]

[plugins.mise]
inline = 'zsh-defer eval "$(mise activate zsh)"'

{{- if not (contains "tako" .chezmoi.hostname) }}
[plugins.zellij]
inline = 'eval "$(zellij setup --generate-auto-start zsh)"'
{{- end }}

[plugins.zoxide]
inline = 'zsh-defer eval "$(zoxide init zsh)"'

[plugins.lazyload]
local = "~/.config/zsh"
use = ["{alias,plugin-conf,prompt}.zsh"]
