{
  "$schema": "https://cdn.jsdelivr.net/gh/Zhengqbbb/cz-git@1.11.1/docs/public/schema/cz-git.json",
  "alias": {
    "fd": "docs: fix typos"
  },
  "messages": {
    "type": "Select the type of change that you're committing:",
    "scope": "Denote the SCOPE of this change (optional):",
    "customScope": "Denote the SCOPE of this change:",
    "subject": "Write a SHORT, IMPERATIVE tense description of the change:\n",
    "body": "Provide a LONGER description of the change (optional). Use \"|\" to break new line:\n",
    "breaking": "List any BREAKING CHANGES (optional). Use \"|\" to break new line:\n",
    "footerPrefixesSelect": "Select the ISSUES type of changeList by this change (optional):",
    "customFooterPrefix": "Input ISSUES prefix:",
    "footer": "List any ISSUES by this change. E.g.: #31, #34:\n",
    "generatingByAI": "Generating your AI commit subject...",
    "generatedSelectByAI": "Select suitable subject by AI generated:",
    "confirmCommit": "Are you sure you want to proceed with the commit above?"
  },
  "types": [
    {
      "value": "feat",
      "name": "feat:     ✨  A new feature",
      "emoji": "✨"
    },
    {
      "value": "fix",
      "name": "fix:      🐛  A bug fix",
      "emoji": "🐛"
    },
    {
      "value": "docs",
      "name": "docs:     📝  Documentation only changes",
      "emoji": "📝"
    },
    {
      "value": "style",
      "name": "style:    💄  Changes that do not affect the meaning of the code",
      "emoji": "💄"
    },
    {
      "value": "refactor",
      "name": "refactor: ♻️  A code change that neither fixes a bug nor adds a feature",
      "emoji": "♻️"
    },
    {
      "value": "perf",
      "name": "perf:     ⚡  A code change that improves performance",
      "emoji": "⚡"
    },
    {
      "value": "test",
      "name": "test:     ✅  Adding missing tests or correcting existing tests",
      "emoji": "✅"
    },
    {
      "value": "build",
      "name": "build:    📦️  Changes that affect the build system or external dependencies",
      "emoji": "📦️"
    },
    {
      "value": "ci",
      "name": "ci:       🎡  Changes to our CI configuration files and scripts",
      "emoji": "🎡"
    },
    {
      "value": "chore",
      "name": "chore:    🔨  Other changes that don\"t modify src or test files",
      "emoji": "🔨"
    },
    {
      "value": "revert",
      "name": "revert:   ⏪️  Reverts a previous commit",
      "emoji": "⏪️"
    }
  ],
  "useEmoji": true,
  "emojiAlign": "center",
  "useAI": false,
  "openAIToken": {{ (bitwardenFields "item" "174e19bf-01a7-4da1-a464-af85004558d2").GitHubModelsToken.value | quote }},
  "apiEndpoint": "https://models.inference.ai.azure.com",
  "apiModel": "gpt-4o-mini",
  "aiNumber": 3,
  "themeColorCode": "",
  "scopes": [],
  "allowCustomScopes": true,
  "allowEmptyScopes": true,
  "customScopesAlign": "bottom",
  "customScopesAlias": "custom",
  "emptyScopesAlias": "empty",
  "upperCaseSubject": false,
  "markBreakingChangeMode": false,
  "allowBreakingChanges": [
    "feat",
    "fix"
  ],
  "breaklineNumber": 100,
  "breaklineChar": "|",
  "skipQuestions": [],
  "issuePrefixes": [
    {
      "value": "closed",
      "name": "closed:   ISSUES has been processed"
    }
  ],
  "customIssuePrefixAlign": "top",
  "emptyIssuePrefixAlias": "skip",
  "customIssuePrefixAlias": "custom",
  "allowCustomIssuePrefix": true,
  "allowEmptyIssuePrefix": true,
  "confirmColorize": true,
  "minSubjectLength": 0,
  "defaultBody": "",
  "defaultIssues": "",
  "defaultScope": "",
  "defaultSubject": ""
}
